<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Shortdesc:</strong>
  <%= @book.shortdesc %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @book.draft %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
